@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin circle {
    width: 200px;
    height: 200px;
    font-size: 30px;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    color: white;
    margin: 10px 10px;
    @include flex-center;

    :hover {
        width: 100px;
        height: 100px;
    }
}

.demo {
    border: 1px solid #BDBDBD;
    margin: 0 auto;
    padding: 40px 100px;
    background-color: #F5F5F5;
    border-radius: 5px;

    .main-demo {
        display: flex;
        justify-content: space-around;
        position: relative;


        .circle1 {
            @include circle;

            background-color: blue;
        }

        .circle2 {
            @include circle;
            background-color: #FF7F00;

        }

        .circle3 {
            @include circle;
            background-color: red;
        }

        .circle4 {
            @include circle;
            background-color: green;
        }
    }
}

.table-container {
    max-height: 200px;
    overflow-y: auto;
    padding-bottom: 20px;
}

.header-container {
    position: sticky;
    top: 0;
    background-color: #FFF;
    z-index: 1;
}

.header-container th,
.body-container td {
    border: 1px solid black;
}

.header-container th,
.body-container td {
    padding: 8px;
}

.header-container th:nth-child(1),
.body-container td:nth-child(1) {
    width: 3%;
}

.header-container th:nth-child(2),
.body-container td:nth-child(2),
.header-container th:nth-child(3),
.body-container td:nth-child(3) {
    width: 45%;
}


.search-container {
    position: relative;
    display: inline-block;
}

.search-input {
    padding: 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    vertical-align: middle;
    box-sizing: border-box;
}

.search-input:focus {
    border-color: #333;
    outline: none;
}

.find-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    height: 100%;
    width: 1px;
    background-color: #000;
}

.find-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    /* Đặt bottom: 0 để nút đạt đến góc dưới của ô textbox */
    padding: 10px 20px;
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 0 5px 5px 0;
    /* Xóa border-radius ở góc dưới bên trái */
    cursor: pointer;
    transition: background-color 0.3s;
}

.find-button:hover {
    background-color: #45a049;
}

.result-label {
    margin-left: 10px;
    color: #333;
    font-size: 16px;
    vertical-align: middle;
}